<h2>Alignment Classification</h2>
<h3>Input</h3>

<section id="training">
  <form action="/training" method="post">
    <input type="submit" value="Training">
  </form>
<%= @training_output%>
</section>
<section id="submit">
  <form action="/" method="post">
    <textarea cols="100" rows="20" name="content" placeholder="Your data&hellip;"><% if !@content.empty? %><%= @content %><% end %></textarea>
    </br>
    <input type="submit" value="Run">
  </form>
</section>

<h3>Output</h3>
<div>
<% @data_output.each do |phase, values|%>
<p><%=phase%></p>
  <% values.each_with_index do |alg, index|%>
    <div style="width:100%;">
      <table style="border: 1px solid black;border-collapse: collapse;display:inline-block;;
        <%if index < (values.length - 1)%> 
        <%= 'float: left;'%>
        <%end%>
      ">
        <tr style="height:29px;">
          <td style="border: 1px solid black;border-collapse: collapse;padding: 5px;">
            <%= alg[0]%>
          </td>
        </tr>
        <tr style="height:29px;">
          <td style="border: 1px solid black;border-collapse: collapse;padding: 5px;">
            <%= alg[1]%>
          </td>
        </tr>
        <tr style="height:29px;">
          <td style="border: 1px solid black;border-collapse: collapse;padding: 5px;">
            <%= alg[2]%>
          </td>
        </tr>
      </table>
    </div>
  <%end%>
  <br>
  <br>
<%end%>
<h3>Statistics</h3>
<br>

<table style="border: 1px solid black;border-collapse: collapse;display:inline-block;float: left;>
  <% @statistics.each do |key, value|%>
      <tr style="height:29px;">
            <td style="border: 1px solid black;border-collapse: collapse;padding: 5px;">
              <%= key%>
            </td>
            <td style="border: 1px solid black;border-collapse: collapse;padding: 5px;">
              <%= value[:count]%>
            </td>
            <td style="border: 1px solid black;border-collapse: collapse;padding: 5px;">
              <%= value[:percent]%>
            </td>
      </tr>
<%end%>
</table>
</div>